@model Agricathon_gr3.Models.Questionnaire

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Questionnaire</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="QuestionnaireId" />
            <div class="form-group">
                <label asp-for="ProjetId" class="control-label"></label>
                <input asp-for="ProjetId" class="form-control" />
                <span asp-validation-for="ProjetId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameQuestionnaire" class="control-label"></label>
                <input asp-for="NameQuestionnaire" class="form-control" />
                <span asp-validation-for="NameQuestionnaire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonId" class="control-label"></label>
                <select asp-for="PersonId" class="form-control" asp-items="ViewBag.PersonId"></select>
                <span asp-validation-for="PersonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhaseId" class="control-label"></label>
                <select asp-for="PhaseId" class="form-control" asp-items="ViewBag.PhaseId"></select>
                <span asp-validation-for="PhaseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeRId" class="control-label"></label>
                <input asp-for="TypeRId" class="form-control" />
                <span asp-validation-for="TypeRId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
