@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to agricathon</h1>
    <p>this project was developped in the context of the agriculture hackathon of 2022 organised by HES</p>
</div>

<div class="text-center">
    

</div>
